
.pros {
    padding: 12% 5% 7%;
    background-color: $lightSage;
    color: black;
    
    h2 {
        font: $header2;
        font-weight: normal;
    }

    p {
        font: $bodyFont;
    }

    .img {
        text-align: center;
        margin-bottom: 6rem;
    }

    .cards {
        display: flex;
        justify-content: space-between;
        text-align: center;

        .card {
            width: 45%;
        }
    }   
}




.imgHolder {
    position: relative;
    height: 25rem;
    margin: 0 auto;
    width: 55%;
    min-width: 40rem;
    margin-bottom: 4rem;
    transition: all 0.3s ease;

    .main {
        width: 100%;
        height: 100%;
        object-fit: cover;

    }
    .rotator {
        position: absolute;
        left: -21%;
        top: -35%;
        width: 46%;
        animation: rotator 60s linear infinite;
    }
}

@keyframes rotator {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn);
    }
}

// Testi
.testi {
    padding: 10% 0%;

    .wrapper {  
        &::before {
            position: absolute;
            left: 0%;
            bottom: 50%;
            font-family: "FontAwesome";
            font-weight: 900;
            content: "\f053";
            font-size: 4rem;
            color: gray;
        }

        &::after {
            // display: block;
            position: absolute;
            right: 0%;
            bottom: 50%;
            font-family: "FontAwesome";
            font-weight: 900;
            content: "\f054";
            font-size: 4rem;
            color: gray;
        }
    }
    
    .img {
        width: 30%;
        height: 20rem;
        min-width: 20rem;
        object-fit: cover;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 5rem;

        img {
            border-radius: 50%;
            height: 100%;
        }
    }

    .para {
        font: $bodyFont;
        width: 70%;
        text-align: center;
        margin: 0 auto;
        color: gray;
        font-style: italic;
    }
}

.services {
    background-image: url(../images/home-4.jpeg);
    background-repeat: no-repeat;
    background-position: center;

    .wideWrapper {
        display: flex;
        justify-content: flex-end;
    }

    .serviceContent {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 10% 0%;
        width: 60%;

        .serviceHalf {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 50%;
        }

        &:nth-child(1)::before {
                position: absolute;
                bottom: 0%;
                left: -20%;
                background-image: url(../images/effect.svg);
        }
        

        .service {
            width: 96%;
            height: 25%;
            position: relative;
            display: flex;
            justify-content: space-between;

            img {
                width: 100%;
                height: 100%;
            }

            i {
                font-size: 30px;
                border: 2px
                black solid;
                width: 55px;
                height: 55px;
                border-radius: 50%;
                padding-top: 10px;
            }

            .img {
                text-align: center;
            }

            .textBlock {
                margin-left: 8%;
            }
        }
    }

    h3 {
        font: $navFont;
        text-transform: uppercase;
    }

    p {
        font: $bodyFont;
        font-size: 1.2rem;
        line-height: 2rem;
        color: $black;
    }
}

.team {
    padding: 2% 0% 5%;
    
    .title {
        font: $header2;
        text-align: center;
        text-transform: uppercase;
        padding: 6%;
    }


    .grid {
        display: flex;
        // flex-wrap: wrap;
        justify-content: space-between;
        list-style: none;
        padding: 0;
        
        h4 {
            font: $header2;
            margin-bottom: 0;
        }

        .member {
            width: 24%;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .member.double {
            flex-basis: 49.5%;
            padding: 4%;
            background-color: $whiteTwo;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;


            p {
                font: $bodyFont;
            }
        }

        .member.single {
            // flex-basis: 50%;
            padding: 4%;
            background-color: $whiteTwo;
            display: flex;
            align-items: center;
            text-align: center;

            h4 {
                margin: auto;
            }
        }
    }

    
    &::after {
        content: '';
        width: 1px;
        height: 12%;
        background: $gray;
        position: absolute;
        left: 50%;
        bottom: -6%;
    }
}

.viewPortfolio {
    background-color: #C3DAB7;

    .half {
        width: 50%;
        float: left;
        height: 47rem;
    }

    .half p {
        font: normal normal normal 1.4rem/2.4rem 'Open Sans', sans-serif;
        margin-bottom: 10%;
    }

    .half h2 {
        font: normal normal bold 1.8rem/2.4rem 'Montserrat', sans-serif;
    }
    .half.imgHolder2 {
        width: 50%;
        text-align: right;
        object-fit: cover;
    }

    .textHolder {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0% 11%;
        text-align: center;
    }

    .textBlock {
        margin: auto;
    }
    .buttonHolder {
        text-align: center;
    }
    img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .button {
        padding: 2% 5%;
        background-color:white;
        font: normal normal normal 1.4rem/2.4rem 'Montserrat', sans-serif;
        text-align: center;
        width: 40%;
    }
}

// Blog specific
h3 {
    font: $header2;
    border-bottom: 1px solid $gray;
    padding-bottom: 1rem;
}

p {
    font: $bodyFont;
}

.runAgency {

    h1 {
        text-align: left;
    }
    padding: 5% 0%;

    p {
        color: $gray;
        font-weight: bold;
        span {
            color: black;
            font-weight: bolder;
        }
    }

    .authorInfo {
        display: grid;
        grid-template-columns: 45% repeat(3, 1fr);
        // grid-template-rows: 1fr;
        grid-column-gap: 6px;
        grid-row-gap: 0px; 
        border-bottom: 1px solid #80808073;
        padding: 2rem 0;
        margin: 4rem 0;

        .card {

            &:not(:first-child) {
                margin: auto 0;
            }

            .authorText {
                margin: auto 1rem;
            }

            img {
                border-radius: 50%;    
            }
        }
        .card.author {
            display: flex;
            justify-content: flex-start;
        }

        h4 {
            font: $buttonFont;
            margin: 0;
        }

        p {
            font: $bodyFont;
            font-size: 1.2rem;
            color: grey;
            margin: 0;
        }
    }

    .post {
        font: $navFont;

        p:nth-child(1) {
            color: black;
            font-weight: bolder;
        }

        .social {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 15%;
            min-width: 130px;

            i {
                transition: all 0.3s ease;

                &:hover {
                    cursor: pointer;
                    color: lighten(black, 40%);
                }
            }
        }
    }
}

.related {
    .postGrid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 1rem;
        grid-row-gap: 0px;

        figure {
            margin: 0;

            figcaption {
                font: $navFont;
                text-transform: uppercase;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                margin-bottom: 1.5rem;
            }
        }
    } 
}

.comments {
	padding: 7rem 0 3rem;

    .commentBox {
        display: grid;
        grid-template-columns: 1fr 11fr;
        grid-template-rows: 1fr;
        grid-column-gap: 20px;
        margin-bottom: 2rem;

        .comment {
            background-color: $lighterGray;
            color: $darkerGray;
            padding: 1.2rem 1.85rem;
            position: relative;

            p {
                font: $navFont;
                font-size: 1rem;
                line-height: 1.8rem;
            }

            &::after {
                content: ' ';
                width: 0; 
                height: 0; 
                border-top: 5px solid transparent;
                border-bottom: 5px solid transparent; 
                border-right:10px solid $lighterGray; 
                position: absolute;
                display: block;
                top: 4%;
                left: -10px;
            }
            
            
            p:nth-child(1) {
                color: black;

                span {
                    font-style: italic;
                    color: darkgreen;
                    transition: all 0.3s ease;

                    &:hover {
                        cursor: pointer;
                        color: lighten(darkgreen, 10%);
                    }
                }
            }
            * {
            margin: 0;
            }
            
        }
    }
}

.leaveComment {
    padding: 0rem 0 10rem;

    form {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr 4fr;
        grid-column-gap: 10px;
        grid-row-gap: 10px;

        * {
            border: none;
            border-bottom: 1px solid $gray;
            padding: 1rem 0;
        }

        textarea {
            grid-column: 1/-1;
            resize: none;
        }

        input[type=submit] {
            width: 100px;
            font-weight: bolder;
            background-color:white;
            border-top: 1px solid white;
            border-right: 1px solid white;
            border-left: 1px solid white;
            transition: all 0.5s ease;

            &:hover {
                cursor: pointer;
                color: $black;
                border: 1px solid $black;
            }
        }
    }
}








