h1,
h2 {
    font: $header1;
    top: 20px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

.hero {
    background-image: url(../images/home-1.jpeg);
    background-position: center;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 200px;
    position: relative;

    &::after {
        content: '';
        width: 1px;
        height: 12%;
        background: #80808078;
        position: absolute;
        left: 50%;
        bottom: -6%;
    }
}


header {
    nav {
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
        .hamburger {
            display: none;

            &:hover {
                cursor: pointer;
            }
        }
    }

    .topNav {
        padding: 0;
        display: flex;
        justify-content: space-between;
        width: 24%;
        font: $navFont;
        list-style: none;
        text-transform: uppercase;

        li {
            position: relative;

            .cartItems {
                position: absolute;
                border-radius: 50%;
                background-color: #C3DAB7;
                bottom: -10px;
                font-size: 0.7rem;
                width: 15px;
                height: 15px;
                text-align: center;
                margin: 0 auto;
                white-space: nowrap;
                padding: -1px;
                display: flex;
                align-items: center;
                right: -5px;
            }
        }

        li:hover {
            cursor: pointer;
        }
        
        a {
            text-decoration: none;
            color: black; 
            position: relative;
            display: inline-block;

            &::before {
                content: '';
                width: 0%;
                transition: all 0.5s ease;
            }
            
            &:hover::before {
                content: '';
                width: 100%;
                height: 1px;
                background: black;
                position: absolute;
                left: -2px;
                top: 6px;
            }
        }

        &:nth-child(2):nth-child(4) {
            position: relative;
        
            &::after{
                content: 'abc';
                width: 10px;
                height: 10px;
            }
        }


    }
}
// Blog Specific 

.blog {
    .hero {
        background-image: url(../blog/images/blog-1.jpeg);
        
        &::after {
            content: '';
            width: 0px;
            height: 0px;
        }
    }
}

// Contact specific
.overallNav {
    background: white;
}

.contact {
    header nav {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .hero {
        background-image: url(../contact/images/contact-1.jpeg);
        background-position: left;
        min-height: 200px;
        height: 24vh;
        
        &::after {
            content: '';
            width: 0px;
            height: 0px;
        }
    }
}