html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

.wrapper {
  width: 60%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

.wideWrapper {
  width: 80%;
  max-width: 1800px;
  margin: 0 auto;
  position: relative;
}

.outWrapper {
  max-width: 2500px;
  width: 100%;
  margin: 0 auto;
}

h1,
h2 {
  font: normal normal bold 3.7rem/1 "Montserrat", sans-serif;
  top: 20px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

.hero {
  background-image: url(../images/home-1.jpeg);
  background-position: center;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 200px;
  position: relative;
}

.hero::after {
  content: '';
  width: 1px;
  height: 12%;
  background: #80808078;
  position: absolute;
  left: 50%;
  bottom: -6%;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 2rem;
}

header nav .hamburger {
  display: none;
}

header nav .hamburger:hover {
  cursor: pointer;
}

header .topNav {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 24%;
  font: normal normal normal 1.4rem/1 "Montserrat", sans-serif;
  list-style: none;
  text-transform: uppercase;
}

header .topNav li:hover {
  cursor: pointer;
}

header .topNav a {
  text-decoration: none;
  color: black;
  position: relative;
  display: inline-block;
}

header .topNav a::before {
  content: '';
  width: 0%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

header .topNav a:hover::before {
  content: '';
  width: 100%;
  height: 1px;
  background: black;
  position: absolute;
  left: -2px;
  top: 6px;
}

header .topNav:nth-child(2):nth-child(4) {
  position: relative;
}

header .topNav:nth-child(2):nth-child(4)::after {
  content: 'abc';
  width: 10px;
  height: 10px;
}

.blog .hero {
  background-image: url(../blog/images/blog-1.jpeg);
}

.blog .hero::after {
  content: '';
  width: 0px;
  height: 0px;
}

.overallNav {
  background: white;
}

.contact header nav {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.contact .hero {
  background-image: url(../contact/images/contact-1.jpeg);
  background-position: left;
  min-height: 200px;
  height: 24vh;
}

.contact .hero::after {
  content: '';
  width: 0px;
  height: 0px;
}

.pros {
  padding: 12% 5% 7%;
  background-color: #C3DAB7;
  color: black;
}

.pros h2 {
  font: normal normal bold 1.8rem/2.4rem "Montserrat", sans-serif;
  font-weight: normal;
}

.pros p {
  font: normal normal normal 1.4rem/2.4rem "Open Sans", sans-serif;
}

.pros .img {
  text-align: center;
  margin-bottom: 6rem;
}

.pros .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

.pros .cards .card {
  width: 45%;
}

.imgHolder {
  position: relative;
  height: 25rem;
  margin: 0 auto;
  width: 55%;
  min-width: 40rem;
  margin-bottom: 4rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.imgHolder .main {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.imgHolder .rotator {
  position: absolute;
  left: -21%;
  top: -35%;
  width: 46%;
  -webkit-animation: rotator 60s linear infinite;
          animation: rotator 60s linear infinite;
}

@-webkit-keyframes rotator {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}

@keyframes rotator {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}

.testi {
  padding: 10% 0%;
}

.testi .wrapper::before {
  position: absolute;
  left: 0%;
  bottom: 50%;
  font-family: "FontAwesome";
  font-weight: 900;
  content: "\f053";
  font-size: 4rem;
  color: gray;
}

.testi .wrapper::after {
  position: absolute;
  right: 0%;
  bottom: 50%;
  font-family: "FontAwesome";
  font-weight: 900;
  content: "\f054";
  font-size: 4rem;
  color: gray;
}

.testi .img {
  width: 30%;
  height: 20rem;
  min-width: 20rem;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 5rem;
}

.testi .img img {
  border-radius: 50%;
  height: 100%;
}

.testi .para {
  font: normal normal normal 1.4rem/2.4rem "Open Sans", sans-serif;
  width: 70%;
  text-align: center;
  margin: 0 auto;
  color: gray;
  font-style: italic;
}

.services {
  background-image: url(../images/home-4.jpeg);
  background-repeat: no-repeat;
  background-position: center;
}

.services .wideWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.services .serviceContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 10% 0%;
  width: 60%;
}

.services .serviceContent .serviceHalf {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
}

.services .serviceContent:nth-child(1)::before {
  position: absolute;
  bottom: 0%;
  left: -20%;
  background-image: url(../images/effect.svg);
}

.services .serviceContent .service {
  width: 96%;
  height: 25%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.services .serviceContent .service img {
  width: 100%;
  height: 100%;
}

.services .serviceContent .service i {
  font-size: 30px;
  border: 2px black solid;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  padding-top: 10px;
}

.services .serviceContent .service .img {
  text-align: center;
}

.services .serviceContent .service .textBlock {
  margin-left: 8%;
}

.services h3 {
  font: normal normal normal 1.4rem/1 "Montserrat", sans-serif;
  text-transform: uppercase;
}

.services p {
  font: normal normal normal 1.4rem/2.4rem "Open Sans", sans-serif;
  font-size: 1.2rem;
  line-height: 2rem;
  color: #333333;
}

.team {
  padding: 2% 0% 5%;
}

.team .title {
  font: normal normal bold 1.8rem/2.4rem "Montserrat", sans-serif;
  text-align: center;
  text-transform: uppercase;
  padding: 6%;
}

.team .grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  padding: 0;
}

.team .grid h4 {
  font: normal normal bold 1.8rem/2.4rem "Montserrat", sans-serif;
  margin-bottom: 0;
}

.team .grid .member {
  width: 24%;
}

.team .grid .member img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.team .grid .member.double {
  -ms-flex-preferred-size: 49.5%;
      flex-basis: 49.5%;
  padding: 4%;
  background-color: #F6F6F6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.team .grid .member.double p {
  font: normal normal normal 1.4rem/2.4rem "Open Sans", sans-serif;
}

.team .grid .member.single {
  padding: 4%;
  background-color: #F6F6F6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.team .grid .member.single h4 {
  margin: auto;
}

.team::after {
  content: '';
  width: 1px;
  height: 12%;
  background: #80808073;
  position: absolute;
  left: 50%;
  bottom: -6%;
}

.viewPortfolio {
  background-color: #C3DAB7;
}

.viewPortfolio .half {
  width: 50%;
  float: left;
  height: 47rem;
}

.viewPortfolio .half p {
  font: normal normal normal 1.4rem/2.4rem 'Open Sans', sans-serif;
  margin-bottom: 10%;
}

.viewPortfolio .half h2 {
  font: normal normal bold 1.8rem/2.4rem 'Montserrat', sans-serif;
}

.viewPortfolio .half.imgHolder2 {
  width: 50%;
  text-align: right;
  -o-object-fit: cover;
     object-fit: cover;
}

.viewPortfolio .textHolder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0% 11%;
  text-align: center;
}

.viewPortfolio .textBlock {
  margin: auto;
}

.viewPortfolio .buttonHolder {
  text-align: center;
}

.viewPortfolio img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.viewPortfolio .button {
  padding: 2% 5%;
  background-color: white;
  font: normal normal normal 1.4rem/2.4rem 'Montserrat', sans-serif;
  text-align: center;
  width: 40%;
}

h3 {
  font: normal normal bold 1.8rem/2.4rem "Montserrat", sans-serif;
  border-bottom: 1px solid #80808073;
  padding-bottom: 1rem;
}

p {
  font: normal normal normal 1.4rem/2.4rem "Open Sans", sans-serif;
}

.runAgency {
  padding: 5% 0%;
}

.runAgency h1 {
  text-align: left;
}

.runAgency p {
  color: #80808073;
  font-weight: bold;
}

.runAgency p span {
  color: black;
  font-weight: bolder;
}

.runAgency .authorInfo {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 45% (1fr)[3];
      grid-template-columns: 45% repeat(3, 1fr);
  grid-column-gap: 6px;
  grid-row-gap: 0px;
  border-bottom: 1px solid #80808073;
  padding: 2rem 0;
  margin: 4rem 0;
}

.runAgency .authorInfo .card:not(:first-child) {
  margin: auto 0;
}

.runAgency .authorInfo .card .authorText {
  margin: auto 1rem;
}

.runAgency .authorInfo .card img {
  border-radius: 50%;
}

.runAgency .authorInfo .card.author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.runAgency .authorInfo h4 {
  font: normal normal normal 1.4rem/2.4rem "Montserrat", sans-serif;
  margin: 0;
}

.runAgency .authorInfo p {
  font: normal normal normal 1.4rem/2.4rem "Open Sans", sans-serif;
  font-size: 1.2rem;
  color: grey;
  margin: 0;
}

.runAgency .post {
  font: normal normal normal 1.4rem/1 "Montserrat", sans-serif;
}

.runAgency .post p:nth-child(1) {
  color: black;
  font-weight: bolder;
}

.runAgency .post .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 15%;
  min-width: 130px;
}

.runAgency .post .social i {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.runAgency .post .social i:hover {
  cursor: pointer;
  color: #666666;
}

.related .postGrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-column-gap: 1rem;
  grid-row-gap: 0px;
}

.related .postGrid figure {
  margin: 0;
}

.related .postGrid figure figcaption {
  font: normal normal normal 1.4rem/1 "Montserrat", sans-serif;
  text-transform: uppercase;
}

.related .postGrid figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 1.5rem;
}

.comments {
  padding: 7rem 0 3rem;
}

.comments .commentBox {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 11fr;
      grid-template-columns: 1fr 11fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-column-gap: 20px;
  margin-bottom: 2rem;
}

.comments .commentBox .comment {
  background-color: #8080801A;
  color: #808080DE;
  padding: 1.2rem 1.85rem;
  position: relative;
}

.comments .commentBox .comment p {
  font: normal normal normal 1.4rem/1 "Montserrat", sans-serif;
  font-size: 1rem;
  line-height: 1.8rem;
}

.comments .commentBox .comment::after {
  content: ' ';
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 10px solid #8080801A;
  position: absolute;
  display: block;
  top: 4%;
  left: -10px;
}

.comments .commentBox .comment p:nth-child(1) {
  color: black;
}

.comments .commentBox .comment p:nth-child(1) span {
  font-style: italic;
  color: darkgreen;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.comments .commentBox .comment p:nth-child(1) span:hover {
  cursor: pointer;
  color: #009700;
}

.comments .commentBox .comment * {
  margin: 0;
}

.leaveComment {
  padding: 0rem 0 10rem;
}

.leaveComment form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: 1fr 4fr;
      grid-template-rows: 1fr 4fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.leaveComment form * {
  border: none;
  border-bottom: 1px solid #80808073;
  padding: 1rem 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.leaveComment form *:focus {
  border-bottom: 1px solid black;
}

.leaveComment form textarea {
  grid-column: 1/-1;
  resize: none;
}

.leaveComment form input[type=submit] {
  width: 100px;
  font-weight: bolder;
  background-color: white;
  border-top: 1px solid white;
  border-right: 1px solid white;
  border-left: 1px solid white;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.leaveComment form input[type=submit]:hover {
  cursor: pointer;
  color: #333333;
  border: 1px solid #333333;
}

.contact h3 {
  font: normal normal normal 1.4rem/1 "Montserrat", sans-serif;
  border-bottom: none;
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.contact p {
  color: #808080DE;
  font-size: 1rem;
  line-height: 2rem;
  font-weight: bold;
}

.pageTitle {
  height: calc(100% - 62px);
}

.pageTitle .wrapper {
  height: 100%;
}

.pageTitle .wrapper .titleContent {
  position: absolute;
  padding: 6rem 0;
}

.pageTitle .wrapper .titleContent h1 {
  position: relative;
  text-align: left;
}

.pageTitle .wrapper .titleContent h1::before {
  content: ' ';
  width: 30px;
  height: 2px;
  position: absolute;
  top: -22px;
  left: 0%;
  background-color: black;
}

.pageTitle span {
  display: block;
}

.details {
  padding-top: 5rem;
}

.channels {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  padding: 5rem 0;
}

.channels i {
  font-size: 3rem;
}

.channels .channel {
  padding-left: 13%;
}

.channels .channel:nth-child(2) {
  border-right: 2px solid #8080801A;
  border-left: 2px solid #8080801A;
}

.channels .heading {
  color: black;
  font: normal normal normal 1.4rem/1 "Montserrat", sans-serif;
  letter-spacing: 6px;
  font-weight: bold;
}

footer {
  background-color: #333333;
  color: #F6F6F6;
  padding: 6% 0% 0%;
}

footer .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .section {
  width: 30%;
}

footer .section h4 {
  font: normal normal normal 1.4rem/2.4rem "Montserrat", sans-serif;
}

footer .section p,
footer .section ul {
  font: normal normal normal 1.4rem/2.4rem "Open Sans", sans-serif;
  font-size: 1.2rem;
}

footer .section ul {
  padding: 0;
}

footer .section.recent ul {
  padding-left: 20%;
}

footer .section.recent h4 {
  text-align: center;
}

footer .section.sub {
  text-align: right;
}

footer .section.sub .inputter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

footer .section.sub input[type=email] {
  padding: 1rem 1rem;
  color: gray;
  border: 1px solid white;
  width: 60%;
}

footer .section.sub .submitter {
  background-color: #C3DAB7;
  display: inline-block;
  padding: 1rem;
  font-size: 1.5rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

footer .section.sub .submitter:hover {
  cursor: pointer;
  background-color: #a7c995;
}

footer .copyright {
  text-align: center;
  font: normal normal normal 1.4rem/2.4rem "Montserrat", sans-serif;
  border-top: 1px solid white;
  padding: 3%;
  margin-top: 3%;
}

footer .copyright p {
  margin: 0;
}

footer .social {
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

footer .social i:nth-child(2) {
  margin: 0rem 2rem;
}

footer .social i {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

footer .social i:hover {
  color: #808080DE;
  cursor: pointer;
}

@media (max-width: 1450px) {
  .wrapper {
    width: 75%;
  }
}

@media (max-width: 1300px) {
  .wideWrapper {
    width: 90%;
  }
  .services .serviceContent {
    width: 70%;
  }
}

@media (max-width: 1050px) {
  .wrapper {
    width: 90%;
  }
  header .topNav {
    width: 35%;
  }
  .viewPortfolio .textHolder {
    padding: 0% 5%;
  }
}

@media (max-width: 952px) {
  .runAgency .authorInfo {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 25px;
  }
  .runAgency .authorInfo .card:not(:first-child) {
    margin: auto 0;
    text-align: center;
  }
  .runAgency .authorInfo .card.author {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    grid-column: 1/-1;
  }
}

@media (max-width: 850px) {
  header .topNav {
    display: none;
  }
  header nav .hamburger {
    display: block;
    font-size: 4rem;
  }
  .imgHolder .rotator {
    left: -15%;
    top: -23%;
    width: 30%;
  }
  .services .serviceContent {
    width: 80%;
  }
  footer .wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  footer .section {
    width: 50%;
  }
  footer .section.sub {
    width: 100%;
    text-align: center;
  }
  footer .section.sub .inputter {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 680px) {
  .services .serviceContent {
    width: 90%;
  }
  .team .grid {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .team .grid .member {
    width: 49%;
  }
  .team .grid.bottom .member:nth-child(3),
  .team .grid.bottom .member:nth-child(4) {
    margin-top: 2%;
  }
  .team .grid .member.double {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-bottom: 2%;
  }
  .viewPortfolio .button {
    padding: 1rem 2rem;
  }
}

@media (max-width: 606px) {
  .cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .imgHolder {
    width: 86%;
    min-width: 0rem;
  }
  .card {
    width: 100%;
  }
  .card:nth-child(1) {
    margin-bottom: 2rem;
  }
  .services .serviceContent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .services .serviceContent .service {
    height: auto;
  }
  .services .serviceContent .serviceHalf {
    width: 100%;
  }
  .viewPortfolio .half {
    height: 34rem;
    width: 100%;
  }
  .viewPortfolio .half.imgHolder2 {
    width: 100%;
  }
  .leaveComment form {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    grid-row-gap: 28px;
  }
  .leaveComment form input[type=submit] {
    margin: 0 auto;
  }
  .channels {
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
  .channels .channel {
    padding: 5% 0% 5% 5%;
  }
  .channels .channel:nth-child(2) {
    border-top: 2px solid #8080801A;
    border-bottom: 2px solid #8080801A;
    border-right: none;
    border-left: none;
    padding: 8% 0% 0% 5%;
  }
}

@media (max-width: 530px) {
  .runAgency .authorInfo {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-column-gap: 9px;
    margin: 0rem 0;
    grid-row-gap: 0px;
    -ms-grid-rows: (0.75fr)[3];
        grid-template-rows: repeat(3, 0.75fr);
  }
  .runAgency .authorInfo .card.author {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .runAgency .authorInfo .card:not(:first-child) {
    text-align: left;
  }
  .related .postGrid {
    -ms-grid-rows: (73vw)[3];
        grid-template-rows: repeat(3, 73vw);
    grid-column-gap: 1rem;
    grid-row-gap: 7rem;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media (max-width: 500px) {
  .imgHolder {
    height: 19rem;
  }
  .imgHolder .rotator {
    display: none;
  }
  .testi .para {
    width: 90%;
  }
  footer .copyright {
    padding: 4%;
  }
  footer .social {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .section {
    width: 100%;
    text-align: center;
  }
  footer .section.recent {
    margin: 7% 0%;
  }
  footer .section.recent ul {
    padding-left: 0%;
  }
}

@media (max-width: 400px) {
  .imgHolder {
    height: 15rem;
  }
  .viewPortfolio .half {
    height: 27rem;
  }
}
