html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

.wrapper {
  width: 60%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

.wideWrapper {
  width: 80%;
  max-width: 1800px;
  margin: 0 auto;
  position: relative;
}

.outWrapper {
  max-width: 2500px;
  width: 100%;
  margin: 0 auto;
}

h1 {
  font: normal normal bold 3.7rem/1 "Montserrat", sans-serif;
  top: 20px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

.hero {
  background-image: url(../images/home-1.jpeg);
  background-position: center;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  position: relative;
}

.hero::after {
  content: '';
  width: 1px;
  height: 12%;
  background: #80808078;
  position: absolute;
  left: 50%;
  bottom: -6%;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 2rem;
}

header nav .hamburger {
  display: none;
}

header nav .hamburger:hover {
  cursor: pointer;
}

header .topNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 30%;
  font: normal normal normal 1.4rem/1 "Montserrat", sans-serif;
  list-style: none;
  text-transform: uppercase;
}

header .topNav li:hover {
  cursor: pointer;
}

header .topNav a {
  text-decoration: none;
  color: black;
  position: relative;
  display: inline-block;
}

header .topNav a::before {
  content: '';
  width: 0%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

header .topNav a:hover::before {
  content: '';
  width: 100%;
  height: 1px;
  background: black;
  position: absolute;
  left: -2px;
  top: 6px;
}

.blog .hero {
  background-image: url(../blog/images/blog-1.jpeg);
}

.pros {
  padding: 12% 5% 7%;
  background-color: #C3DAB7;
  color: black;
}

.pros h2 {
  font: normal normal bold 1.8rem/2.4rem "Montserrat", sans-serif;
  font-weight: normal;
}

.pros p {
  font: normal normal normal 1.4rem/2.4rem "Open Sans", sans-serif;
}

.pros .img {
  text-align: center;
  margin-bottom: 6rem;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

.card {
  width: 45%;
}

.imgHolder {
  position: relative;
  height: 25rem;
  margin: 0 auto;
  width: 55%;
  min-width: 40rem;
  margin-bottom: 4rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.imgHolder .main {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.imgHolder .rotator {
  position: absolute;
  left: -21%;
  top: -35%;
  width: 46%;
  -webkit-animation: rotator 60s linear infinite;
          animation: rotator 60s linear infinite;
}

@-webkit-keyframes rotator {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}

@keyframes rotator {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}

.testi {
  padding: 10% 0%;
}

.testi .wrapper::before {
  position: absolute;
  left: 0%;
  bottom: 50%;
  font-family: "FontAwesome";
  font-weight: 900;
  content: "\f053";
  font-size: 4rem;
  color: gray;
}

.testi .wrapper::after {
  position: absolute;
  right: 0%;
  bottom: 50%;
  font-family: "FontAwesome";
  font-weight: 900;
  content: "\f054";
  font-size: 4rem;
  color: gray;
}

.testi .img {
  width: 30%;
  height: 20rem;
  min-width: 20rem;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 5rem;
}

.testi .img img {
  border-radius: 50%;
  height: 100%;
}

.testi .para {
  font: normal normal normal 1.4rem/2.4rem "Open Sans", sans-serif;
  width: 70%;
  text-align: center;
  margin: 0 auto;
  color: gray;
  font-style: italic;
}

.services {
  background-image: url(../images/home-4.jpeg);
  background-repeat: no-repeat;
  background-position: center;
}

.services .wideWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.services .serviceContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 10% 0%;
  width: 60%;
}

.services .serviceContent .serviceHalf {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
}

.services .serviceContent:nth-child(1)::before {
  position: absolute;
  bottom: 0%;
  left: -20%;
  background-image: url(../images/effect.svg);
}

.services .serviceContent .service {
  width: 96%;
  height: 25%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.services .serviceContent .service img {
  width: 100%;
  height: 100%;
}

.services .serviceContent .service i {
  font-size: 30px;
  border: 2px black solid;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  padding-top: 10px;
}

.services .serviceContent .service .img {
  text-align: center;
}

.services .serviceContent .service .textBlock {
  margin-left: 8%;
}

.services h3 {
  font: normal normal normal 1.4rem/1 "Montserrat", sans-serif;
  text-transform: uppercase;
}

.services p {
  font: normal normal normal 1.4rem/2.4rem "Open Sans", sans-serif;
  font-size: 1.2rem;
  line-height: 2rem;
  color: #333333;
}

.team {
  padding: 2% 0% 5%;
}

.team .title {
  font: normal normal bold 1.8rem/2.4rem "Montserrat", sans-serif;
  text-align: center;
  text-transform: uppercase;
  padding: 6%;
}

.team .grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  padding: 0;
}

.team .grid h4 {
  font: normal normal bold 1.8rem/2.4rem "Montserrat", sans-serif;
  margin-bottom: 0;
}

.team .grid .member {
  width: 24%;
}

.team .grid .member img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.team .grid .member.double {
  -ms-flex-preferred-size: 49.5%;
      flex-basis: 49.5%;
  padding: 4%;
  background-color: #F6F6F6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.team .grid .member.double p {
  font: normal normal normal 1.4rem/2.4rem "Open Sans", sans-serif;
}

.team .grid .member.single {
  padding: 4%;
  background-color: #F6F6F6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.team .grid .member.single h4 {
  margin: auto;
}

.team::after {
  content: '';
  width: 1px;
  height: 12%;
  background: #80808078;
  position: absolute;
  left: 50%;
  bottom: -6%;
}

.viewPortfolio {
  background-color: #C3DAB7;
}

.viewPortfolio .half {
  width: 50%;
  float: left;
  height: 47rem;
}

.viewPortfolio .half p {
  font: normal normal normal 1.4rem/2.4rem 'Open Sans', sans-serif;
  margin-bottom: 10%;
}

.viewPortfolio .half h2 {
  font: normal normal bold 1.8rem/2.4rem 'Montserrat', sans-serif;
}

.viewPortfolio .half.imgHolder2 {
  width: 50%;
  text-align: right;
  -o-object-fit: cover;
     object-fit: cover;
}

.viewPortfolio .textHolder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0% 11%;
  text-align: center;
}

.viewPortfolio .textBlock {
  margin: auto;
}

.viewPortfolio .buttonHolder {
  text-align: center;
}

.viewPortfolio img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.viewPortfolio .button {
  padding: 2% 5%;
  background-color: white;
  font: normal normal normal 1.4rem/2.4rem 'Montserrat', sans-serif;
  text-align: center;
  width: 40%;
}

footer {
  background-color: #333333;
  color: #F6F6F6;
  padding: 6% 0% 0%;
}

footer .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .section {
  width: 30%;
}

footer .section h4 {
  font: normal normal normal 1.4rem/2.4rem "Montserrat", sans-serif;
}

footer .section p,
footer .section ul {
  font: normal normal normal 1.4rem/2.4rem "Open Sans", sans-serif;
  font-size: 1.2rem;
}

footer .section ul {
  padding: 0;
}

footer .section.recent ul {
  padding-left: 20%;
}

footer .section.recent h4 {
  text-align: center;
}

footer .section.sub {
  text-align: right;
}

footer .section.sub .inputter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

footer .section.sub input[type=email] {
  padding: 1rem 1rem;
  color: gray;
  border: 1px solid white;
  width: 60%;
}

footer .section.sub .submitter {
  background-color: #C3DAB7;
  display: inline-block;
  padding: 1rem;
  font-size: 1.5rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

footer .section.sub .submitter:hover {
  cursor: pointer;
  background-color: #a7c995;
}

footer .copyright {
  text-align: center;
  font: normal normal normal 1.4rem/2.4rem "Montserrat", sans-serif;
  border-top: 1px solid white;
  padding: 3%;
  margin-top: 3%;
}

footer .copyright p {
  margin: 0;
}

footer .social {
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

footer .social i:nth-child(2) {
  margin: 0rem 2rem;
}

@media (max-width: 1450px) {
  .wrapper {
    width: 75%;
  }
}

@media (max-width: 1300px) {
  .wideWrapper {
    width: 90%;
  }
  .services .serviceContent {
    width: 70%;
  }
}

@media (max-width: 1050px) {
  .wrapper {
    width: 90%;
  }
  header .topNav {
    width: 35%;
  }
  .viewPortfolio .textHolder {
    padding: 0% 5%;
  }
}

@media (max-width: 850px) {
  header .topNav {
    display: none;
  }
  header nav .hamburger {
    display: block;
    font-size: 4rem;
  }
  .imgHolder .rotator {
    left: -15%;
    top: -23%;
    width: 30%;
  }
  .services .serviceContent {
    width: 80%;
  }
  footer .wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  footer .section {
    width: 50%;
  }
  footer .section.sub {
    width: 100%;
    text-align: center;
  }
  footer .section.sub .inputter {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 680px) {
  .services .serviceContent {
    width: 90%;
  }
  .team .grid {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .team .grid .member {
    width: 49%;
  }
  .team .grid.bottom .member:nth-child(3),
  .team .grid.bottom .member:nth-child(4) {
    margin-top: 2%;
  }
  .team .grid .member.double {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-bottom: 2%;
  }
  .viewPortfolio .button {
    padding: 1rem 2rem;
  }
}

@media (max-width: 606px) {
  .cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .imgHolder {
    width: 86%;
    min-width: 0rem;
  }
  .card {
    width: 100%;
  }
  .card:nth-child(1) {
    margin-bottom: 2rem;
  }
  .services .serviceContent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .services .serviceContent .service {
    height: auto;
  }
  .services .serviceContent .serviceHalf {
    width: 100%;
  }
  .viewPortfolio .half {
    height: 34rem;
    width: 100%;
  }
  .viewPortfolio .half.imgHolder2 {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .imgHolder {
    height: 19rem;
  }
  .imgHolder .rotator {
    display: none;
  }
  .testi .para {
    width: 90%;
  }
  footer .copyright {
    padding: 4%;
  }
  footer .social {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .section {
    width: 100%;
    text-align: center;
  }
  footer .section.recent {
    margin: 7% 0%;
  }
  footer .section.recent ul {
    padding-left: 0%;
  }
}

@media (max-width: 400px) {
  .imgHolder {
    height: 15rem;
  }
  .viewPortfolio .half {
    height: 27rem;
  }
}
